/* 
[data-theme="light"] {
    --primary: #4361ee;
    --primary-light: #4895ef;
    --background: #f8f9fa;
    --surface: #ffffff;
    --text-primary: #212529;
    --message-user: #4361ee;
    --message-other: #e9ecef;
}
[data-theme="dark"] {
    --primary: #4895ef;
    --primary-light: #4cc9f0;
    --background: #121212;
    --surface: #1e1e1e;
    --text-primary: #e9ecef;
    --message-user: #4895ef;
    --message-other: #2d3436;
}
*/

body{
    background-color: #f8f9fa;
    background-image: url('img/Gaviotas.png');
}

.container-fluid d-flex min-vh-100 px-3 py-3{
    background-color: #4361ee;
}
.col-12 col-sm-12 col-md-12 col-lg-11 col-xl-12 col-xxl-12{
    background-color: #4361ee;
}
.card p-5 shadow h-100{
    background-color: #4361ee;
}